{% extends 'template_coreui.html.twig' %}

{% block title %}Page de Seurity{% endblock %}

{% block stylesheets %} 
{% endblock %}

{% block body %}

    <div class="security-wrapper">
        
        <div class="container">
            <h1>Page Security!</h1>
           

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#security" data-toggle="tab">Securité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile" data-toggle="tab">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#action" data-toggle="tab">Actions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#role" data-toggle="tab">Roles</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="security">
                    {% include 'security/_partials/index.html' %}                   
                </div>
                <div class="tab-pane" id="profile">
                    {% include 'security/_partials/profile.html' %}
                </div>
                <div class="tab-pane" id="action">
                    {% include 'security/_partials/action.html' %}
                </div>
                <div class="tab-pane" id="role">
                    {% include 'security/_partials/role.html' %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
{% block javascripts %} 
    <script src="{{  asset('security.js','qobd_web_js') }}"></script>
{% endblock %}
