{% extends 'email_template.html.twig' %}

{% block body_title %}Votre facture{% endblock body_title %}

{% block body_sub_title %}Ceci est un rappel{% endblock body_sub_title %}

{% block body %}

<div style="padding-top:20px;">

    <div style="padding-top:30px;padding-bottom:30px;font-size:14px;">
        {% include 'email/files/relance_paiement_1.txt' with {'nom_client': contact_name, 'nom_societe': search.get_setting("SOCIETE","SOCIETE_NOM").value, 'num_facture': bill_id } %}
    </div>
</div>


<!-- <div style="padding-top:20px;line-height:165%;font-size:14px;">
        <u>
            <font color="black">If you have questions or concerns, please contact us at</font>
        </u><br>
        <a rel="nofollow" target="_blank" href="http://www.SmarterASP.net/contact">http://www.SmarterASP.net/contact</a><br>

    </div>
    <div style="padding:30px 10px 0 0;text-align:left;font-size:14px;color:#000;">-SmarterASP.net
        Team&nbsp;&nbsp;<br><br><br>
    </div>
    <div
        style="padding:0px 0 5px 0;line-height:180%;font-size:14px;color:#000;border-bottom:1px #bbb solid;border-top:1px #bbb solid;">
        <b>
            <center>DO NOT REPLY TO THIS EMAIL</center>
        </b>
    </div> -->


{% endblock body %}