# Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+)$ %{ENV:BASE}/public/$1 [L]

RewriteRule ^$ %{ENV:BASE}/public [L]

RewriteCond %{REQUEST_URI} !^%{ENV:BASE}/public
RewriteRule ^(.+)$ %{ENV:BASE}/public/$1 [L]

