{% extends 'setting/index.html.twig' %}

{% block title %}{{ parent() }} - Statut facturation{% endblock %}

{% block home_path %}
{{ parent() }}
<li class="breadcrumb-item">
    Configuration
</li>
<li class="breadcrumb-item">
    Statut
</li>
<li class="breadcrumb-item">
    Facturation
</li>
{% endblock %}