
td.details-control {
    // background: url('../resources/details_open.png') no-repeat center center;
    cursor: pointer;
    &:before{
        content: "\f49e";
        position: relative;
        top: 14;
        left: 10px;
    }
}
tr.details td.details-control {
    // background: url('../resources/details_close.png') no-repeat center center;
    &:before{
        content: "\f07c";
        position: relative;
        top: 0;
        left: 10px;
    }
}

.breadcrumb-menu .btn{
    //padding: 6px 12px;
    font-size: 20px;
}