{% extends 'template_coreui.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="brand-wrapper">

    <div class="container">
        <h1>Création d'une marque !</h1>

        {{ form_start(formBrand) }}


        {{ form_row(formBrand.Name,{'label': 'désignation de la marque', 'attr': {'placeholder': 'désignation de la marque'}})
        }}
        
        <button type="submit" class="btn btn-success">Ajouter la marque</button>

        {{ form_end(formBrand) }}
    </div>

</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}