{% extends 'template_coreui.html.twig' %}

{% block title %}Nouvelle famille{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="brand-wrapper">

    <div class="container">
        <h1>Création d'une famille !</h1>

        {{ form_start(formGroup) }}


        {{ form_row(formGroup.Name,{'label': 'désignation de la famille', 'attr': {'placeholder': 'désignation de la famille'}})
        }}

        <button type="submit" class="btn btn-success">Ajouter la marque</button>

        {{ form_end(formGroup) }}
    </div>

</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}