{% extends 'blog.html.twig' %}

{% block title %}Blog!{% endblock %}



{% block body %}

<div data-elementor-type="wp-post" data-elementor-id="4" class="elementor elementor-4" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-element elementor-element-5cb8b6d elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section" data-id="5cb8b6d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay">
                </div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-b907772 elementor-column elementor-col-100 elementor-top-column" data-id="b907772" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-6f6e030 elementor-widget elementor-widget-heading" data-id="6f6e030" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Creative Agency</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b9bccaa elementor-widget elementor-widget-text-editor" data-id="b9bccaa" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-be5e841 elementor-align-center elementor-widget elementor-widget-button" data-id="be5e841" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Get a quote</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-fbc8976 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="fbc8976" data-element_type="section">
                <div class="elementor-container elementor-column-gap-wide">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-f591a66 elementor-column elementor-col-50 elementor-top-column" data-id="f591a66" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-00865d6 elementor-widget elementor-widget-heading" data-id="00865d6" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">A Digital Agency Focused On Growing your Online presence</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5eb3b73 elementor-widget elementor-widget-text-editor" data-id="5eb3b73" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6477d8a elementor-widget elementor-widget-text-editor" data-id="6477d8a" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1bcfc3d elementor-align-left elementor-widget elementor-widget-button" data-id="1bcfc3d" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Read more</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3917de8 elementor-column elementor-col-50 elementor-top-column" data-id="3917de8" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-b327377 elementor-widget elementor-widget-image" data-id="b327377" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img width="570" height="410" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/Layer-9.jpg" class="attachment-large size-large" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/Layer-9.jpg 570w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/Layer-9-300x216.jpg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/Layer-9-400x288.jpg 400w" sizes="(max-width: 570px) 100vw, 570px">											
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-dedf6f2 atu-agency-video elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dedf6f2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-636b818 elementor-column elementor-col-100 elementor-top-column" data-id="636b818" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-98c2a79 elementor-widget elementor-widget-heading" data-id="98c2a79" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">Ultimate solutions</h5>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-909e264 elementor-widget elementor-widget-heading" data-id="909e264" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Learn more about us</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fca08c9 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="fca08c9" data-element_type="widget" data-settings="{&quot;lightbox&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-wrapper elementor-open-lightbox">
                                                <div class="elementor-custom-embed-image-overlay" data-elementor-open-lightbox="yes" data-elementor-lightbox="{&quot;type&quot;:&quot;video&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;url&quot;:&quot;https:\/\/www.youtube.com\/embed\/9uOETcuFjbE?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0&quot;,&quot;modalOptions&quot;:{&quot;id&quot;:&quot;elementor-lightbox-fca08c9&quot;,&quot;entranceAnimation&quot;:&quot;&quot;,&quot;entranceAnimation_tablet&quot;:&quot;&quot;,&quot;entranceAnimation_mobile&quot;:&quot;&quot;,&quot;videoAspectRatio&quot;:&quot;169&quot;}}">
                                                    <img width="150" height="150" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/Layer-9-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="">																
                                                    <div class="elementor-custom-embed-play" role="button">
                                                        <i class="eicon-play" aria-hidden="true"></i>
                                                        <span class="elementor-screen-only">Play Video</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-cc5b436 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="cc5b436" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-f6f4bb5 elementor-column elementor-col-100 elementor-top-column" data-id="f6f4bb5" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-9bad62a elementor-widget elementor-widget-heading" data-id="9bad62a" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Our services</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-f82bfca elementor-widget elementor-widget-text-editor" data-id="f82bfca" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="elementor-element elementor-element-bc1302a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="bc1302a" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-wider">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-7cf8841 elementor-column elementor-col-33 elementor-inner-column" data-id="7cf8841" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-fe9e4fb elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="fe9e4fb" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img">
                                                                            <img width="48" height="48" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/i1.png" class="attachment-full size-full" alt="">
                                                                        </figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">Branding</h3>
                                                                            <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                                                                        </div>
                                                                    </div>		
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-1146fe4 elementor-align-center elementor-widget elementor-widget-button" data-id="1146fe4" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="elementor-button-text">Read more</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0936230 elementor-column elementor-col-33 elementor-inner-column" data-id="0936230" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-8af58ca elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="8af58ca" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img">
                                                                            <img width="48" height="48" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/i2.png" class="attachment-full size-full" alt="">
                                                                        </figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">Development</h3>
                                                                            <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                                                                        </div>
                                                                    </div>		
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-df6b810 elementor-align-center elementor-widget elementor-widget-button" data-id="df6b810" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="elementor-button-text">Read more</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-c812094 elementor-column elementor-col-33 elementor-inner-column" data-id="c812094" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4e772d0 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="4e772d0" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper">
                                                                        <figure class="elementor-image-box-img">
                                                                            <img width="48" height="39" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/i3.png" class="attachment-full size-full" alt="">
                                                                        </figure>
                                                                        <div class="elementor-image-box-content">
                                                                            <h3 class="elementor-image-box-title">Marketing</h3>
                                                                            <p class="elementor-image-box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
                                                                        </div>
                                                                    </div>		
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-cada3a6 elementor-align-center elementor-widget elementor-widget-button" data-id="cada3a6" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-icon elementor-align-icon-right">
                                                                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                                                </span>
                                                                                <span class="elementor-button-text">Read more</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-c0e1e83 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="c0e1e83" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-1dfc573 elementor-column elementor-col-100 elementor-top-column" data-id="1dfc573" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e2717e7 elementor-widget elementor-widget-heading" data-id="e2717e7" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Our work</h2>		</div>
                                    </div>
                                    <div class="elementor-element elementor-element-d6e69fb elementor-widget elementor-widget-text-editor" data-id="d6e69fb" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-91f1377 elementor-widget elementor-widget-image-gallery" data-id="91f1377" data-element_type="widget" data-widget_type="image-gallery.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image-gallery">
                                                <div id="gallery-1" class="gallery galleryid-4 gallery-columns-4 gallery-size-airi-360-360"><figure class="gallery-item">
                                                    <div class="gallery-icon landscape">
                                                        <a data-elementor-open-lightbox="no" data-elementor-lightbox-slideshow="91f1377" href="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615.jpeg"><img width="360" height="240" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615.jpeg" class="attachment-airi-360-360 size-airi-360-360" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615.jpeg 1125w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615-300x200.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615-768x512.jpeg 768w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615-1024x683.jpeg 1024w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1029615-400x267.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px"></a>
                                                    </div></figure><figure class="gallery-item">
                                                    <div class="gallery-icon landscape">
                                                        <a data-elementor-open-lightbox="no" data-elementor-lightbox-slideshow="91f1377" href="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963.jpeg"><img width="360" height="240" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963.jpeg" class="attachment-airi-360-360 size-airi-360-360" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963.jpeg 1125w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963-300x200.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963-768x512.jpeg 768w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963-1024x683.jpeg 1024w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-761963-400x267.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px"></a>
                                                    </div></figure><figure class="gallery-item">
                                                    <div class="gallery-icon landscape">
                                                        <a data-elementor-open-lightbox="no" data-elementor-lightbox-slideshow="91f1377" href="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575.jpeg"><img width="360" height="240" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575.jpeg" class="attachment-airi-360-360 size-airi-360-360" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575.jpeg 1125w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575-300x200.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575-768x512.jpeg 768w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575-1024x683.jpeg 1024w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-403575-400x267.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px"></a>
                                                    </div></figure><figure class="gallery-item">
                                                    <div class="gallery-icon landscape">
                                                        <a data-elementor-open-lightbox="no" data-elementor-lightbox-slideshow="91f1377" href="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573.jpeg"><img width="360" height="240" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573.jpeg" class="attachment-airi-360-360 size-airi-360-360" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573.jpeg 1125w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573-300x200.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573-768x512.jpeg 768w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573-1024x683.jpeg 1024w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-1152573-400x267.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px"></a>
                                                    </div></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-14cde3a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="14cde3a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-wider">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-b51019a elementor-column elementor-col-50 elementor-top-column" data-id="b51019a" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-365256a elementor-widget elementor-widget-heading" data-id="365256a" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Our work</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-aada7f6 elementor-widget elementor-widget-text-editor" data-id="aada7f6" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-53149dd atu-agency-progress elementor-widget elementor-widget-progress" data-id="53149dd" data-element_type="widget" data-widget_type="progress.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-title">WordPress</span>

                                            <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="90" aria-valuetext="">
                                                <div class="elementor-progress-bar" data-max="90">
                                                    <span class="elementor-progress-text"></span>
                                                    <span class="elementor-progress-percentage">90%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-225494d atu-agency-progress elementor-widget elementor-widget-progress" data-id="225494d" data-element_type="widget" data-widget_type="progress.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-title">Video</span>

                                            <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" aria-valuetext="">
                                                <div class="elementor-progress-bar" data-max="80">
                                                    <span class="elementor-progress-text"></span>
                                                    <span class="elementor-progress-percentage">80%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0383e83 atu-agency-progress elementor-widget elementor-widget-progress" data-id="0383e83" data-element_type="widget" data-widget_type="progress.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-title">Graphic design</span>

                                            <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95" aria-valuetext="">
                                                <div class="elementor-progress-bar" data-max="95">
                                                    <span class="elementor-progress-text"></span>
                                                    <span class="elementor-progress-percentage">95%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-71683fc atu-agency-progress elementor-widget elementor-widget-progress" data-id="71683fc" data-element_type="widget" data-widget_type="progress.default">
                                        <div class="elementor-widget-container">
                                            <span class="elementor-title">Photography</span>

                                            <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" aria-valuetext="">
                                                <div class="elementor-progress-bar" data-max="80">
                                                    <span class="elementor-progress-text"></span>
                                                    <span class="elementor-progress-percentage">80%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8e83120 elementor-align-left elementor-widget elementor-widget-button" data-id="8e83120" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Read more</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="elementor-element elementor-element-58078a5 elementor-column elementor-col-50 elementor-top-column" data-id="58078a5" data-element_type="column">
                        <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-c398543 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="c398543" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-9f3bc92 elementor-column elementor-col-100 elementor-top-column" data-id="9f3bc92" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-133734e elementor-widget elementor-widget-heading" data-id="133734e" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Latest news</h2>		
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6a4daa0 elementor-widget elementor-widget-text-editor" data-id="6a4daa0" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a721ebd elementor-widget elementor-widget-athemes-blog" data-id="a721ebd" data-element_type="widget" data-widget_type="athemes-blog.default">
                                        <div class="elementor-widget-container">

                                            <div class="athemes-blog">
                                                <div class="row">	
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="post-item">
                                                            <img width="360" height="235" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825.jpeg" class="attachment-airi-360-360 size-airi-360-360 wp-post-image" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825.jpeg 1147w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825-300x196.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825-768x502.jpeg 768w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825-1024x670.jpeg 1024w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/color-pencil-drawing-coloring-colored-pencils-159825-400x262.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px">												
                                                            <div class="post-content">	
                                                                <span class="posted-on"><a href="https://demo.athemes.com/airi-agency/2018/06/25/sed-risus-tortor-dignissim-id-tortor-sit-amet-scelerisque/" rel="bookmark">
                                                                    <time class="entry-date published" datetime="2018-06-25T14:45:17+00:00">June 25, 2018</time>
                                                                    <time class="updated" datetime="2018-06-25T14:50:08+00:00">June 25, 2018</time></a>
                                                                </span>								
                                                                <h3 class="entry-title"><a href="https://demo.athemes.com/airi-agency/2018/06/25/sed-risus-tortor-dignissim-id-tortor-sit-amet-scelerisque/" rel="bookmark">Sed risus tortor, dignissim id tortor sit amet</a></h3>								
                                                                <a class="first-cat post-cat" href="https://demo.athemes.com/airi-agency/category/digital/">Digital</a>								
                                                                <span class="byline"> by <span class="author vcard"><a class="url fn n" href="https://demo.athemes.com/airi-agency/author/vlad/">vlad</a></span></span>							
                                                            </div>	
                                                        </div>				
                                                    </div>
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="post-item">
                                                            <img width="360" height="235" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-220421.jpeg" class="attachment-airi-360-360 size-airi-360-360 wp-post-image" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-220421.jpeg 750w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-220421-300x196.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-220421-400x261.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px">												
                                                            <div class="post-content">	
                                                                <span class="posted-on">
                                                                    <a href="https://demo.athemes.com/airi-agency/2018/06/25/class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia/" rel="bookmark">
                                                                    <time class="entry-date published" datetime="2018-06-25T14:44:57+00:00">June 25, 2018</time>
                                                                    <time class="updated" datetime="2018-06-25T14:49:29+00:00">June 25, 2018</time>
                                                                    </a>
                                                                </span>								
                                                                <h3 class="entry-title"><a href="https://demo.athemes.com/airi-agency/2018/06/25/class-aptent-taciti-sociosqu-ad-litora-torquent-per-conubia/" rel="bookmark">Class aptent taciti sociosqu ad litora torquent per conubia</a></h3>								
                                                                <a class="first-cat post-cat" href="https://demo.athemes.com/airi-agency/category/digital/">Digital</a>								
                                                                <span class="byline"> by <span class="author vcard"><a class="url fn n" href="https://demo.athemes.com/airi-agency/author/vlad/">vlad</a></span></span>							
                                                            </div>	
                                                        </div>				
                                                    </div>
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="post-item">
                                                            <img width="360" height="235" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-194094.jpeg" class="attachment-airi-360-360 size-airi-360-360 wp-post-image" alt="" srcset="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-194094.jpeg 750w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-194094-300x196.jpeg 300w, https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/06/pexels-photo-194094-400x261.jpeg 400w" sizes="(max-width: 360px) 100vw, 360px">												
                                                            <div class="post-content">	
                                                                <span class="posted-on"><a href="https://demo.athemes.com/airi-agency/2018/06/25/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/" rel="bookmark">
                                                                <time class="entry-date published" datetime="2018-06-25T14:44:40+00:00">June 25, 2018</time>
                                                                <time class="updated" datetime="2018-06-25T14:49:20+00:00">June 25, 2018</time></a></span>								
                                                                <h3 class="entry-title"><a href="https://demo.athemes.com/airi-agency/2018/06/25/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit/" rel="bookmark">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>								
                                                                <a class="first-cat post-cat" href="https://demo.athemes.com/airi-agency/category/digital/">Digital</a>								
                                                                <span class="byline"> by <span class="author vcard"><a class="url fn n" href="https://demo.athemes.com/airi-agency/author/vlad/">vlad</a></span></span>							
                                                            </div>	
                                                        </div>				
                                                    </div>
                                                </div>
                                            </div>	
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-9569153 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="9569153" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-12eaa54 elementor-column elementor-col-100 elementor-top-column" data-id="12eaa54" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-9fb9b46 elementor-widget elementor-widget-heading" data-id="9fb9b46" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Our testimonials</h2>		</div>
                                    </div>
                                    <section class="elementor-element elementor-element-926ba69 atu-agency-testimonials elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="926ba69" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-extended">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-022b3a5 elementor-column elementor-col-50 elementor-inner-column" data-id="022b3a5" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-06afccf elementor-widget elementor-widget-testimonial" data-id="06afccf" data-element_type="widget" data-widget_type="testimonial.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-left">
                                                                        <div class="elementor-testimonial-content">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                                        </div>

                                                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                            <div class="elementor-testimonial-meta-inner">
                                                                                <div class="elementor-testimonial-image">
                                                                                    <img width="80" height="80" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/09/Layer-49866.png" class="attachment-full size-full" alt="">						
                                                                                </div>

                                                                                <div class="elementor-testimonial-details">
                                                                                    <div class="elementor-testimonial-name">John Doe</div>
                                                                                    <div class="elementor-testimonial-job">Designer</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-54976e4 elementor-column elementor-col-50 elementor-inner-column" data-id="54976e4" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-dc2bb42 elementor-widget elementor-widget-testimonial" data-id="dc2bb42" data-element_type="widget" data-widget_type="testimonial.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-left">
                                                                        <div class="elementor-testimonial-content">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                                        </div>

                                                                        <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                                            <div class="elementor-testimonial-meta-inner">
                                                                                <div class="elementor-testimonial-image">
                                                                                    <img width="80" height="80" src="https://mk0athemesdemon3j7s5.kinstacdn.com/wp-content/uploads/sites/86/2018/09/Layer-49871.png" class="attachment-full size-full" alt="">						
                                                                                </div>

                                                                                <div class="elementor-testimonial-details">
                                                                                    <div class="elementor-testimonial-name">John Doe</div>
                                                                                    <div class="elementor-testimonial-job">Designer</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-element elementor-element-dbb76d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dbb76d7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-element elementor-element-e3616e7 elementor-column elementor-col-100 elementor-top-column" data-id="e3616e7" data-element_type="column">
                            <div class="elementor-column-wrap  elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-f89bd90 elementor-widget elementor-widget-heading" data-id="f89bd90" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">Let's talk about your next project</h2>		</div>
                                    </div>
                                    <div class="elementor-element elementor-element-98d4229 elementor-widget elementor-widget-text-editor" data-id="98d4229" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0d4d8d8 elementor-align-center elementor-widget elementor-widget-button" data-id="0d4d8d8" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">Get a quote</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}
