{% extends 'template_coreui.html.twig' %}

{% block title %}Clients{% endblock %}

{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ asset('client.css', 'qobd_web_css') }}"> -->
{% endblock %}

{% block body %}

<div class="client-wrapper">

    <table id="client_table_js" style="width:100%">
    </table>
    <input type="hidden" id="client_data_source" value="{{ client_data_source }}">

</div>

{% endblock %}
{% block javascripts %}
<script src="{{  asset('client.js','qobd_web_js') }}"></script>
{% endblock %}