<form action="{{ path('security_agent_profile') }}" method="POST">
    <div class="form-group">
        <table class="table">
            <tr>
                <th scope="col">Agent</th>
                {% for role in roles %}
                <th scope="col">{{ role.Name }}</th>
                {% endfor %}
            </tr>
            {% for agent in agents %}
                        
            <tr>
                <td>{{ agent.FirstName }} {{ agent.LastName }} ({{ agent.UserName }})</td>

                {% for role in roles %}

                    {% if agent.ObjectRoles | length > 0 %}
                    <td>
                        <input type="hidden" name="profile[{{ agent.id }}][{{ role.id }}]" />                    
                        {% for agent_role in agent.ObjectRoles if agent_role != null and agent_role.id == role.id %}
                            <input type="checkbox" class="form-control" name="profile[{{ agent.id }}][{{ role.id }}]" checked />                    
                        {% else %}
                            <input type="checkbox" class="form-control" name="profile[{{ agent.id }}][{{ role.id }}]" />
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>
                        <input type="hidden" name="profile[{{ agent.id }}][{{ role.id }}]" />
                        <input type="checkbox" class="form-control" name="profile[{{ agent.id }}][{{ role.id }}]" />
                    </td>
                    {% endif %}
                {% endfor %}               
            </tr>

            {% endfor %}
        </table>
    </div>
    <button type="submit" class="btn btn-success">Valider !</button>
</form>