{% extends 'template_coreui.html.twig' %}

{% block title %} Emails {% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    Sécurité & Configuration
</li>
<li class="breadcrumb-item">
    Configuration
</li>
<li class="breadcrumb-item">
    Documents
</li>
<li class="breadcrumb-item">
    Textes
</li>
{% endblock %}

{% block body_header_right %}
<button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="email-wrapper">

    {% include "notify.html.twig" %}

    <div class="animated fadeIn">
        <form id="global_form" action="{{ path("setting_text_edit") }}" method="post">

            <!-- CGV -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-envelope-open-text"></i> Conditions générales de vente</div>
                <div class="card-body">
                    <textarea class="form-control" name="texts[cgv]" id="" cols="30" rows="10">{{ cgv }}</textarea>
                </div>
            </div>

            <!-- Devis -->
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-envelope-open-text"></i> Message du PDF devis</div>
                <div class="card-body">
                    <textarea class="form-control" name="texts[quote]" id="" cols="30" rows="10">{{ quote }}</textarea>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}