{% extends 'order/home.html.twig' %}

{% block title %}{{ parent() }} - Commandes à valider{% endblock %}

{% block home_path %}
{{ parent() }}
<li class="breadcrumb-item">
    Commandes
</li>
<li class="breadcrumb-item">
    Cmd à valider
</li>
{% endblock %}