{% extends 'order/home.html.twig' %}

{% block title %}{{ parent() }} - Avoirs expédiés{% endblock %}

{% block home_path %}
{{ parent() }}
<li class="breadcrumb-item">
    Avoirs
</li>
<li class="breadcrumb-item">
    Avoirs expédiés
</li>
{% endblock %}

{% block body_title_are %}
<i class="fa fa-align-justify"></i> Avoirs expédiés</div>
{% endblock %}