{% extends 'order/home.html.twig' %}

{% block title %}{{ parent() }} - Commandes expédiées{% endblock %}

{% block home_path %}
{{ parent() }}
<li class="breadcrumb-item">
    Commandes
</li>
<li class="breadcrumb-item">
    Cmd payées & expédiées
</li>
{% endblock %}

{% block body_title_are %}
<i class="fa fa-align-justify"></i> Commandes expédiées</div>
{% endblock %}