{% extends 'order/home.html.twig' %}

{% block title %}{{ parent() }} - Commandes cloturées {% endblock %}


{% block body_header_right %}{% endblock %}

{% block home_path %}
{{ parent() }}
<li class="breadcrumb-item">
    Commandes
</li>
<li class="breadcrumb-item">
    Cmd cloturées
</li>
{% endblock %}

