{% extends 'order/show.html.twig' %}

{% block devis_tva_area %}
{% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    Commande & Devis
</li>
<li class="breadcrumb-item">
    <a href="{{ path("order_closed")}}">Cmd payée & cloturée</a>
</li>
<li class="breadcrumb-item">
    Détail commande
</li>
{% endblock %}

{% block control_btn_area %}
<div class="btn-group">
    <a href="{{ path("order_validation", {id: order.id, idStatus: order_status_quote.id}) }}"
        class="btn btn-success btnValidation">Convertir en devis</a>
</div>
{% endblock %}

{% block product_area %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <i class="fa fa-align-justify"></i> Liste des produits et tarifs
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="order_detail_table_js"
                    class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block quote_area %}{% endblock %}


{# Bons de livraison #}
{% block delivery_recipt_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Bon(s) de livraison émis
            </div>
            <div class="card-body">
                <table id="delivery_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# Factures emises #}
{% block bill_recipt_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Factures émises
            </div>
            <div class="card-body">
                <table id="bill_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}