{% extends 'template_coreui.html.twig' %}

{% block title %}Nouveau fournisseur{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="brand-wrapper">

    <div class="container">
        <h1>Création d'un fournisseur !</h1>

        {{ form_start(formProvider) }}


        {{ form_row(formProvider.Name,{'label': 'désignation de la famille', 'attr': {'placeholder': 'désignation de la famille'}}) }}
        {{ form_row(formProvider.RIB,{'label': 'RIB', 'attr': {'placeholder': 'RIB'}}) }}

        <button type="submit" class="btn btn-success">Ajouter le fournisseur</button>

        {{ form_end(formProvider) }}
    </div>

</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}