<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
              <rule name="Default Document" stopProcessing="true">
               <match url="(.*)" />
               <action type="Redirect" url="{R:1}" redirectType="Temporary" />
              </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
